<a
  class=`shadow transition-colors duration-300 border-2 border-slate-800 w-full text-center flex items-center justify-center gap-2 rounded-lg px-4 py-2 font-semibold ${Astro.props.class}`
  href=`${Astro.props.href}`
  target="_blank"
  rel="noreferrer"
>
  <slot />
</a>
