---
import GithubIcon from "../../components/icons/GithubIcon.astro";
import LinkedinIcon from "../../components/icons/LinkedinIcon.astro";
import EmailIcon from "../../components/icons/EmailIcon.astro";

// i18n import
import { getI18n } from "../../i18n";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<footer
  class="bg-gray-300/80 dark:bg-gray-800 text-black dark:text-gray-200 py-3"
>
  <div class="container mx-auto px-4">
    <div class="flex justify-center gap-4 text-4xl">
      <a
        href="https://github.com/KazzK94"
        target="_blank"
        class="hover:text-orange-500 hover:scale-110 transition-all"
        aria-label="Visit my GitHub profile"
      >
        <GithubIcon />
      </a>
      <a
        href="https://www.linkedin.com/in/ivan-kazz/"
        target="_blank"
        class="hover:text-orange-500 hover:scale-110 transition-all cursor-pointer"
        aria-label="Visit my LinkedIn"
      >
        <LinkedinIcon />
      </a>
      <a
        id="emailIcon"
        href="mailto:ireinaballester@gmail.com"
        class="hover:text-orange-500 hover:scale-110 transition-all cursor-pointer"
        aria-label="Send me an e-mail"
      >
        <EmailIcon />
      </a>
    </div>
  </div>
</footer>
