---
import SectionContainer from "../SectionContainer.astro";
import ProjectCard from "../ProjectCard.astro";

// Projects Data
const projects = [
  {
    title: "Hp Tracker for TTRPG",
    description:
      "A way to track your own HP in a TTRPG, with buttons to heal, receive damage, get Temp HP and even fully heal.",
    link: "https://dnd-hp-counter.netlify.app/",
    image: "/images/projects/project01.webp",
  },
  {
    title: "My own Portfolio",
    description:
      "This is actually this very self project! A portfolio to showcase my skills and projects. Sorry for the recursion.",
    link: "https://kazz-dev-portfolio.netlify.app/",
    image: "/images/projects/project02.webp",
  },
];
---

<SectionContainer>
  <h1 class="text-3xl md:text-4xl font-bold mb-5 md:mb-7 drop-shadow">
    <span class="text-orange-500/95 dark:text-orange-400">&lt;/&gt;</span>
    <span class="text-amber-500 dark:text-amber-400 ml-1">My Projects</span>
  </h1>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {projects.map((project) => <ProjectCard {...project} />)}
  </section>
</SectionContainer>
