---
import SectionContainer from "../SectionContainer.astro";
import ProjectCard from "../ProjectCard.astro";

// i18n import
import { getI18n } from "../../i18n";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

// Projects Data
const projects = [
  {
    title: {
      es: "GlitchLink",
      en: "GlitchLink",
    },
    description: {
      es: "Una red social para gamers. Desarrollada con NextJS y TailwindCSS, y con la autenticación de NextAuth.",
      en: "A social network for gamers. Developed with NextJS and TailwindCSS, and with NextAuth for authentication.",
    },
    link: "https://glitchlink.vercel.app",
	image: "/images/projects/glitchlink-plain.jpg",
  },
  {
    title: {
      es: "Portafolio de dibujo",
      en: "Drawing Portfolio",
    },
    description: {
      es: "El portafolio de Haru Blue, una artista digital. La página se ha creado con Astro y TailwindCSS.",
      en: "The drawing portfolio of the digital artist Haru Blue. Site created with Astro and TailwindCSS.",
    },
    link: "https://harublue.netlify.app/",
    image: "/images/projects/harublue-portfolio-plain.jpg",
  },
];
---

<SectionContainer>
  <h1 class="text-3xl md:text-4xl font-bold mb-5 md:mb-7">
    <span class="text-orange-500/95 dark:text-orange-400">&lt;/&gt;</span>
    <span class="text-amber-500 dark:text-amber-400 ml-1"
      >{i18n.MY_PROJECTS}</span
    >
  </h1>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {projects.map((project) => <ProjectCard {...project} />)}
  </section>
</SectionContainer>
