<h1 class="flex gap-x-2.5 items-end mb-5 md:mb-7">
  <span class="text-orange-500/95 dark:text-orange-400/95">
    <slot name="icon" />
  </span>
  <span
    class="text-amber-500 dark:text-amber-400 text-3xl md:text-4xl font-bold"
  >
    <slot name="title" />
  </span>
</h1>
