---

import SectionContainer from "../components/SectionContainer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import TextGradient from "../components/TextGradient.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Kazz's Portfolio" description="Come check what Kazz can do for your website!">
  <main class="mt-16 md:mt-48 flex flex-col gap-20 md:gap-36">
    <SectionContainer>
      <div
        class="flex flex-col md:flex-row justify-center items-center text-center gap-8 md:gap-12"
      >
        <img
          class="size-40 md:size-48 rounded-full border-4 border-orange-400 border-opacity-80 shadow-md shadow-amber-500/40"
          src="/images/pfp.webp"
          alt="Kazz's Profile Picture"
        />
        <div>
          <h1 class="text-4xl md:text-5xl lg:text-6xl">
            Hi, I am
            <TextGradient
              class="from-orange-400/85 via-amber-300 to-orange-400 font-bold"
              >KazzDev.</TextGradient
            >
          </h1>
          <h2 class="text-xl md:text-3xl pt-1 md:pt-2 italic text-slate-200">
            A Junior
            <TextGradient class="from-orange-200 to-amber-300"
              >Web Developer</TextGradient
            >
          </h2>

          <p class="mt-4 mx-auto md:text-lg text-pretty">
            My goal is to create <span class="text-amber-200"
              >unique and astonishing websites</span
            > of all kinds. Sure, I know there is always so much <span
              class="text-amber-200 italic">more to learn</span
            >, but hey... that's the best part!
          </p>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer>
      <h1 class="text-3xl md:text-4xl font-bold mb-5 md:mb-7">
		<span class="text-amber-200/80">&lt;/&gt;</span>
		<span class="text-amber-300/90 ml-1">My Projects</span>
	</h1>

      <div class="flex flex-col gap-4 md:gap-6">
        <ProjectCard
			title="Hp Tracker for TTRPG"
			description="A way to track your own HP in a TTRPG, with buttons to heal, receive damage, get Temp HP and even fully heal."
			link="#/project1"
			image="/images/projects/project01.png"
		/>
        <ProjectCard
			title="My own Portfolio"
			description="This is actually this very self project! A portfolio to showcase my skills and projects. Sorry for the recursion."
			link="#/project1"
			image="/images/projects/project02.png"
		/>
        
      </div>
    </SectionContainer>
  </main>
</Layout>