---
// Sections
import Layout from "../layouts/Layout.astro";
import Header from '../components/sections/Header.astro';
import MyProjects from '../components/sections/MyProjects.astro'
import MySkills from '../components/sections/MySkills.astro'
import ContactMe from '../components/sections/ContactMe.astro'
import Footer from "../components/sections/Footer.astro";
---

<Layout
  title="Kazz's Portfolio"
  description="Come check what Kazz can do for your website!"
>
  <main class="mt-24 md:mt-48 flex flex-col gap-20 md:gap-32">
    <Header />

    <div class="bg-gradient-to-b from-transparent via-slate-800/40 to-slate-950/5 mt-8 py-12">
      <MyProjects />
    </div>

    <MySkills />

    <div class="bg-slate-800/50 pt-16 pb-20">
      <ContactMe />
    </div>
  </main>

  <Footer />
</Layout>
