---
import SectionContainer from '../components/SectionContainer.astro'
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mis Proyectos">
	<SectionContainer class="mt-48">
		<h1 class="text-5xl">Mis Proyectos</h1>
		<p class="mt-4">Estos son algunos de los proyectos en los que he trabajado:</p>

		<p class="text-red-500 drop-shadow-sm">[WIP: sección aún no implementada]</p>
	</SectionContainer>
</Layout>
