---
import FlagSpain from "../../icons/FlagSpain.astro";
import FlagUk from "../../icons/FlagUk.astro";

const { currentLocale = 'es', props } = Astro;
---

<a
  id="localizationToggle"
  href={currentLocale === "es" ? "/en" : "/"}
  class="rounded z-20 opacity-80"
  title={currentLocale === "es" ? "Change to English" : "Cambiar a Español"}
  aria-label="Toggle language"
  {...props}
>
  {
    currentLocale === "es" 
		? <FlagUk class="w-10 rounded" />
		: <FlagSpain class="w-10 rounded" />
    
  }
</a>
