---
import SectionContainer from "../SectionContainer.astro";
import SectionTitle from "../SectionTitle.astro";
import Badge from "../../Badge.astro";

import skills from "../../../data/skills";

// i18n import
import { getI18n } from "../../../i18n";
import AboutMeIcon from "../../icons/sections/AboutMeSectionIcon.astro";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<SectionContainer>
  <SectionTitle>
    <span slot="icon">
      <AboutMeIcon class="size-8 md:size-9" stroke-width="1.8" />
    </span>
    <span slot="title">{i18n.ABOUT_ME}</span>
  </SectionTitle>

  <div class="md:text-lg space-y-3">
    <p>{i18n.ABOUT_ME_TEXT_1}</p>
    <p>{i18n.ABOUT_ME_TEXT_2}</p>
  </div>
</SectionContainer>
