---
// i18n import
import { getI18n } from "../i18n";

// i18n setup
const { currentLocale = "es" } = Astro;
const i18n = getI18n({ currentLocale });

// Recibir: "Hola, soy %%esteEsElReplaceFrom%%."
// Devolver: "Hola, soy <slot />.""

const { i18nLocalizedText, replaceFrom, replaceTo, replacementClass } =
  Astro.props;

const wordIndex = i18nLocalizedText.indexOf(replaceFrom);
---

<>
  {
    wordIndex === 0 ? (
      <>
        <span class={replacementClass || ""}>{replaceTo}</span>
        {i18nLocalizedText.replace(replaceFrom, "")}
      </>
    ) : (
      i18nLocalizedText
        .split(replaceFrom)
        .map((text: string, index: number, texts: string[]) => {
          if (text === "") return null;
          return (
            <>
              {text}
              {index < texts.length - 1 && (
                <span class={replacementClass || ""}>{replaceTo}</span>
              )}
            </>
          );
        })
    )
  }
</>
