---
const { title, description, link, image } = Astro.props
---

<article class="border-2 border-amber-100/60 rounded bg-gradient-to-br from-slate-600/20 to-slate-800/30 shadow shadow-slate-500">
	<div class="px-3 py-2">
		<h2 class="text-amber-300/85 text-2xl font-bold">{title}</h2>
		<p class="my-1">{description}</p>
	</div>
	<img
	alt=`Image of the project ${title}`
	src={image}
	/>
</a>