---
import SectionContainer from "../SectionContainer.astro";
import SectionTitle from "../SectionTitle.astro";
import Badge from "../../Badge.astro";

import skills from "../../../data/skills";

// i18n import
import { getI18n } from "../../../i18n";
import SkillsSectionIcon from "../../icons/sections/SkillsSectionIcon.astro";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<SectionContainer>
  <SectionTitle>
    <span slot="icon">
      <SkillsSectionIcon class="size-8 md:size-9" stroke-width="1.8" />
    </span>
    <span slot="title">{i18n.MY_SKILLS}</span>
  </SectionTitle>

  <div class="grid grid-cols-2 sm:grid-cols-4 md:flex flex-wrap justify-start gap-3">
    {
      skills.map((skill) => (
        <Badge class="px-4 py-2 flex flex-col justify-center items-center gap-1 text-center md:text-base bg-slate-200/60 hover:bg-slate-200/95 dark:bg-slate-800/80 dark:hover:bg-slate-800 transition-all">
          <skill.icon stroke-width="1.6" class="size-8 pt-0.5" />
          <span class="pointer-events-none">{skill.name}</span>
        </Badge>
      ))
    }
  </div>
</SectionContainer>
