---
import SectionContainer from "../../SectionContainer.astro";

// i18n import
import { getI18n } from "../../../i18n";
import Badge from "../../Badge.astro";
import SectionTitle from "../../SectionTitle.astro";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

// Data
const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "React",
  "NextJS",
  "Astro",
  "Tailwind",
  "React Native",
  "NodeJS",
  "Express",
  "MySQL",
  "MongoDB",
  "Git",
  "GitHub",
];
---

<SectionContainer>
  <SectionTitle>
    <span slot="icon">&lt;/&gt;</span>
    <span slot="title">{i18n.MY_SKILLS}</span>
  </SectionTitle>

  <div class="flex flex-wrap justify-start gap-4">
    {
      skills.map((skill) => (
        <Badge
          class="border border-amber-500 dark:border-orange-800 font-semibold text-lg lg:text-base"
          color="yellow"
        >
          {skill}
        </Badge>
      ))
    }
  </div>
</SectionContainer>
