---
import SectionContainer from "../SectionContainer.astro";
import SectionTitle from "../SectionTitle.astro";
import Badge from "../../Badge.astro";

import skills from "../../../data/skills";

// i18n import
import { getI18n } from "../../../i18n";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<SectionContainer>
  <SectionTitle>
    <span slot="icon">&lt;/&gt;</span>
    <span slot="title">{i18n.MY_SKILLS}</span>
  </SectionTitle>

  <div class="flex flex-wrap justify-start gap-3">
    {
      skills.map((skill) => (
        <Badge class="px-4 py-2 flex flex-col justify-center items-center gap-1 md:text-lg">
			<skill.icon stroke-width="1.6" class="size-8 pt-0.5" />
			{skill.name}
		</Badge>
      ))
    }
  </div>
</SectionContainer>
