---
import Background from "../components/Background.astro";
import ThemeToggleButton from "../components/togglers/ThemeToggleButton.astro";
import LanguageToggleButton from '../components/togglers/LanguageToggleButton.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-black dark:text-white">
    <ThemeToggleButton />
	<LanguageToggleButton />
    <Background />
    <slot />
  </body>
</html>

<style is:global>
  .text-gradient-to-br {
    @apply bg-gradient-to-br inline-block text-transparent bg-clip-text;
  }
  .text-gradient-to-b {
    @apply bg-gradient-to-b inline-block text-transparent bg-clip-text;
  }
</style>
