---
import Background from "../components/Background.astro";
import ThemeToggleButton from "../components/togglers/ThemeToggleButton.astro";
import LanguageToggleButton from '../components/togglers/LanguageToggleButton.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-black dark:text-white">
	{
		// TODO: Remove this HotFix
	}
	<div class="bg-slate-200/20 dark:bg-slate-800/20 border-b border-slate-300/20 dark:border-slate-600/20 fixed top-0 left-0 right-0 h-16 z-10 backdrop-blur-sm md:hidden" />
    <ThemeToggleButton />
	<LanguageToggleButton />
    <Background />
    <slot />
  </body>
</html>

<style is:global>
  .text-gradient-to-br {
    @apply bg-gradient-to-br inline-block text-transparent bg-clip-text;
  }
  .text-gradient-to-b {
    @apply bg-gradient-to-b inline-block text-transparent bg-clip-text;
  }
</style>
