---
import SectionContainer from "../../SectionContainer.astro";
import ProjectCard from "./ProjectCard.astro";

// i18n import
import { getI18n } from "../../../i18n";
import SectionTitle from "../../SectionTitle.astro";
// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

// Projects Data
const projects = [
  {
    title: {
      es: "GlitchLink",
      en: "GlitchLink",
    },
    description: {
      es: "Una red social para gamers. Desarrollada con NextJS y TailwindCSS, y con la autenticación de NextAuth.",
      en: "A social network for gamers. Developed with NextJS and TailwindCSS, and with NextAuth for authentication.",
    },
    link: "https://glitchlink.vercel.app",
    github: "https://github.com/KazzK94/glitchlink",
    image: "/images/projects/glitchlink-plain.avif",
  },
  {
    title: {
      es: "Portafolio de dibujo",
      en: "Drawing Portfolio",
    },
    description: {
      es: "El portafolio de Haru Blue, una artista digital. La página se ha creado con Astro y TailwindCSS.",
      en: "The drawing portfolio of the digital artist Haru Blue. Site created with Astro and TailwindCSS.",
    },
    link: "https://harublue.netlify.app/",
    github: "https://github.com/KazzK94/haru-portfolio",
    image: "/images/projects/harublue-portfolio-plain.avif",
  },
];
---

<SectionContainer>
  <SectionTitle>
    <span slot="icon">&lt;/&gt;</span>
    <span slot="title">{i18n.MY_PROJECTS}</span>
  </SectionTitle>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {projects.map((project) => <ProjectCard {...project} />)}
  </section>
</SectionContainer>
