---
import SectionContainer from "../SectionContainer.astro";
import SectionTitle from "../SectionTitle.astro";
import ProjectCard from "./cards/ProjectCard.astro";

import projects from "../../../data/projects";

// i18n import
import { getI18n } from "../../../i18n";
import ProjectsSectionIcon from '../../icons/sections/ProjectsSectionIcon.astro'

// i18n setup
const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<SectionContainer>
  <SectionTitle>
    <span slot="icon">
		<ProjectsSectionIcon class="size-8 md:size-9" stroke-width="1.8" />
	</span>
    <span slot="title">{i18n.MY_PROJECTS}</span>
  </SectionTitle>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {projects.map((project) => <ProjectCard {...project} />)}
  </section>
</SectionContainer>
